/* font-family: 'Cabin Sketch', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Nanum Pen Script', cursive; */



html, body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.video_wrapper{
    max-height: 100vh;
    /* display: table; */
}

.hero_wrapper{
    text-align: center;
    background-color: rgba(0,0,0,0.85);
    height: 100vh;
}

.title_wrapper{
    
    /* display: table-cell;
    vertical-align: middle; */
    height: 150px;
    width: auto;
    padding-top: 350px;
    margin: auto;
    font-size: 100px;
}

#hero_title{
    text-align:center;
    font-family: 'Cabin Sketch', cursive;
    color: white;
}

/* #video_background{
    object-fit: fill;
    -o-object-position: center center;
    object-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    min-height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    

} */


.destinations{
    overflow: hidden;
    background-color: black;
    height: auto;
    width: 100%;
    /* padding-bottom: 5%; */
}


.destination_flexbox{
    
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.destination_item{
    
    position: relative;
    color: white;
    max-width: 33.33%;
    max-height: 50%;
    /* background-color: red; */
    
}

.destination_item a{
    color: white;
}

#destination_name{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
}

.destination_vid{
    /* background-attachment: absolute; */
    /* background-repeat: no-repeat center; */
    width: 100%;
    height: 100%;
    object-fit: fill;
    -o-object-position: center center;
    object-position: center center;
    opacity: 40%;
}

#destination_link:hover > .destination_vid{
    opacity: 80%;
    cursor: pointer;
}